<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">

    <a class="navbar-brand main-heading"> &nbsp; Simply </a>


    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <br><br>

      <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">

        
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="btn btn-primary navbar-btn" type="button"  href="{% url 'home' %}">Home</a>
          </li>
          <br>
          {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="btn btn-primary navbar-btn" type="button"  href="{% url 'profile' request.user.username %}">Profile</a>
            </li>
            <br>
            <li class="nav-item">
              <a class="btn btn-primary navbar-btn" type="button"  href="{% url 'blog_create' %}">+Blog</a>
            </li>
            <br>
            <li class="nav-item">
              <a class="btn btn-primary navbar-btn" type="button"  href="{% url 'logout' %}">Logout</a>
            </li>


          {% else %}
            <li class="nav-item">
                <a class="btn btn-primary navbar-btn" type="button"  href="{% url 'register' %}">Register</a>
            </li>
            <br>
            <li class="nav-item">
                <a class="btn btn-primary navbar-btn" type="button"  href="{% url 'login' %}">Login</a>
            </li>
          {% endif %}

        </ul>
      </div>

</nav>

<br>


{% for message in messages %}
  <div style="padding: 1em; background-color: yellow;">
    {{message}}
  </div>
{% endfor %}