{% extends 'base.html' %}


{% block content %}

        <div style="width: 500px;
                    background-color: white;
                    padding: 20px;
                    margin: 10px auto;">
            
            <span><b>Username :- </b>{{author.username}}</span><br>
            <span><b>Enail :- </b>{{author.email}}</span><br>
            <div style="text-align: center;" >   
                <img src="{{author.profile.img_url}}" alt="author's pic" height="100px" width="100px">
            </div>
            <br>
                {% if request.user != author %}
                    <a style="background-color: aqua;
                    padding: 1em;" href="{% url 'create_msg' author.username %}">Message</a>
                {% endif %}
            <br>
        </div>

        <br><br>


        <div style="width: 450px;
        background-color: white;
        padding: 20px;
        margin: 10px auto;">

            {% for blog in blogs %}

                <div><b>Title :- </b>{{blog.title}}</div>
                <div><b>Description :- </b>{{blog.description}}</div>
                <div><b>Created :- </b>{{blog.created}}</div>

                {% for tag in blog.tag_set.all %}
                    <span>{{tag.name}}&nbsp;</span>
                {% endfor %}
                <hr>

            {% endfor %}

        </div>

{% endblock content %}