{% extends 'base.html' %}


{% block content %}

        <div style="width: 450px;
        background-color: white;
        padding: 20px;
        margin: 10px auto;">

            {% for msg in my_msgs %}

                Sender :- {{msg.sender.username}} <br>
                Title :- 
                    {% if msg.is_read == False %}
                        <span style="font-weight: bold;">{{msg.subject}}</span> 
                    {% else %}
                        <span>{{msg.subject}}</span> 
                    {% endif %}
                <br>
                Body:- {{msg.body}} <br>
                Created :-{{msg.created|timesince}} ago... <br>
                <br>
                <a href="{% url 'send_reply' msg.sender.username %}">Reply</a>
                &nbsp;
                <a href="{% url 'view_msg' msg.pk %}">View</a>
                <hr>
            {% endfor %}

        </div>




{% endblock content %}