{% extends 'base.html' %}


{% block content %}

        <div style="width: 500px;
                    background-color: white;
                    padding: 20px;
                    margin: 10px auto;">
            {% if request.user.is_authenticated %}
                <h2>Welcome... {{request.user.username}}</h2>
            {% else %}
                <h2> Simply.... The best website out there!  </h2>
            {% endif %}
        </div>

        <div style="width: 500px;
                    background-color: white;
                    padding: 20px;
                    margin: 10px auto;">
            <form action="" method="GET">
                <input type="text" name="query" id="" value={{query}}>
                &nbsp;&nbsp;
                <button type="submit">Search</button>
            </form>
        </div>


        <div style="width: 450px;
        background-color: white;
        padding: 20px;
        margin: 10px auto;">

            {% for blog in blogs %}
                <div><img src="{{blog.author.profile.img_url}}" alt="profile_pic" width="100px" height="100px"></div>
                <br>
                <a href="{% url 'blog_author' blog.author.username %}"><div><b>Author :- </b>{{blog.author.username}}</div></a>
                <a href="{% url 'blog_detail' blog.pk %}"><div><b>Title :- </b>{{blog.title}}</div></a>
                <div><b>Description :- </b>{{blog.description}}</div>
                <div><b>Created :- </b>{{blog.created}}</div>

                {% for tag in blog.tag_set.all %}
                    <span>{{tag.name}}&nbsp;</span>
                {% endfor %}
                <hr>

            {% endfor %}

        </div>

{% endblock content %}