{% extends 'base.html' %}


{% block content %}

        <div style="width: 500px;
                    background-color: white;
                    padding: 20px;
                    margin: 10px auto;">
            

            <h3>Username :- {{current_user.username}}</h3>
            <h3>Email :- {{current_user.email}}</h3>

            <img src="{{current_user.profile.img_url}}" alt="" width="100px" height="100px">


            <br><br>

            <a href="{% url 'profile_update' current_user.username %}">Update</a>
            <a href="{% url 'profile_delete' current_user.username %}">Delete</a>
        </div>


        <div style="width: 450px;
        background-color: white;
        padding: 20px;
        margin: 10px auto;">

            {% for blog in blogs %}

                <div><b>Title :- </b>{{blog.title}}</div>
                <div><b>Description :- </b>{{blog.description}}</div>
                <div><b>Created :- </b>{{blog.created}}</div>

                {% for tag in blog.tag_set.all %}
                    <span>{{tag.name}}&nbsp;</span>
                {% endfor %}
                <br>

                <a href="{% url 'blog_update' blog.pk %}">Update</a>
                &nbsp;
                <a href="{% url 'blog_delete' blog.pk %}">Delete</a>
                <hr>


                

            {% endfor %}

        </div>

{% endblock content %}