{% extends 'base.html' %}


{% block content %}

    <div style="width: 500px; 
                background-color: white; 
                margin: 10px auto;
                padding: 20px;">

        <h1>Log-In</h1>
        <form action="" method="POST" autocomplete="off">
            {% csrf_token %}

                Are U Sure You Want to Delete '{{current_user.username}}'s profile ???

                <button type="submit">Delete</button>
                <a href="{% url 'profile' current_user.username %}">Cancle</a>

        </form>

    </div>

{% endblock content %}