{% extends 'base.html' %}


{% block content %}

    <div style="width: 500px; 
                background-color: white; 
                margin: 10px auto;
                padding: 20px;">

        <h1>Delete Profile</h1>
        <form action="" method="POST" autocomplete="off">
            {% csrf_token %}

                <h4>Are You Sure You Want to delete '{{current_user.username}}'s profile ?</h4>

            <button type="submit">Delete</button>
            &nbsp;&nbsp;
            <a href="{% url 'profile' current_user.username %}">Back</a>
        </form>

    </div>

{% endblock content %}