{% extends 'base.html' %}


{% block content %}

        <div style="width: 500px;
                    background-color: white;
                    padding: 20px;
                    margin: 10px auto;">

            <h3>Username :- {{current_user.username}}</h3>
            <h3>Email :- {{current_user.email}}</h3>

            <img src="{{current_user.profile.img_url}}" alt="profile_image" width="150px" height="150px">
            
            <br><br>

            <a href="{% url 'profile_update' current_user.username %}">Update</a>
            &nbsp;&nbsp;
            <a href="{% url 'profile_delete' current_user.username %}">Delete</a>
        </div>

{% endblock content %}