{% extends 'base.html' %}


{% block content %}

    <div style="width: 500px; 
                background-color: white; 
                margin: 10px auto;
                padding: 20px;">

        <h1>Register</h1>
        <form action="" method="POST" autocomplete="off">
            {% csrf_token %}

            {{form.as_p}}

            <button type="submit">Register</button>
            &nbsp; <a href="{% url 'login' %}">Already have an account?</a>

        </form>

    </div>

{% endblock content %}