{% extends 'base.html' %}


{% block content %}
    
    {% include 'navbar.html' %}

    <div class="container bg-info shadow-md p-5 form-layout">
        <h1 style="text-align: center;">Dashboard</h1>
        <br>

        <div style="text-align: center;">
            <a class="btn btn-primary navbar-btn" 
            type="button" href="{% url 'logout' %}">Logout</a>
            <br><br>
            <a class="btn btn-primary navbar-btn" 
            type="button" href="{% url 'profile' request.user.username %}">My Profile</a>
        </div>
    </div>


    {% for thought in thoughts %}
            <div class="container form-layout">
                <b>{{thought.title}}</b>   <br>
                <i>{{thought.content}}</i>  <br><br>
                {{thought.created|timesince}} ago
                {% if thought.author == request.user %}
                    <a href="{% url 'thought-update' thought.pk %}">Update</a>
                    &nbsp;&nbsp;
                    <a href="{% url 'thought-delete' thought.pk %}">Delete</a>
                {% endif %}
            </div>

            <br>
    {% endfor %}
    
    
{% endblock content %}



