{% extends 'base.html' %}

{% block content %}

    <div class="container form-layout">
        

        <form action="" method="POST" >
            {% csrf_token %}

            Are U sure U want to delete '{{thought.title}}' ?
            <br><br>
            
            <button type="submit" class="btn btn-secondary btn-lg w-50 btn-block p-3">
                Delete</button>
            &nbsp;&nbsp;
            <a href="{% url 'dashboard' %}">Go Back</a>
        </form>
    </div>

{% endblock content %}
