{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container form-layout">
        <h1>Your Thought!</h1>

        <form action="" method="POST" >
            {% csrf_token %}

            {{form.title|as_crispy_field}}
            {{form.content|as_crispy_field}}
            <br>
            
            <button type="submit" class="btn btn-secondary btn-lg w-50 btn-block p-3">
                Submit</button>
        </form>
    </div>

{% endblock content %}
