{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/superhero/bootstrap.min.css"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Document</title>
</head>
<body>

    <div>
      {% if messages %}
          {% for message in messages %}
              <div class="msg-timer" style="width: 300px;
                          text-align: center;
                          padding: 20px;
                          background-color: blue;
                          margin: 20px auto;
                          border-radius: 20px;">
                          <div>
                              {{message}}
                          </div>      
              </div>
          {% endfor %}
      {% endif %}
    </div>

    {% block content %}
    {% endblock content %}

    <script src="{% static 'js/script.js' %}"></script>

    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      crossorigin="anonymous"
    ></script>
  
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>

</body>
</html>